<!DOCTYPE html>
  <html lang="en">
  <head>
    <title>Flask_Chat_App</title>
       
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
     
  </head>
  <body bgcolor="lightgrey">

    <h3 style='color: rgb(204, 204, 204);font-size: 30px;'>No message yet..</h3>
    <div class="message_holder"></div>

    <form style="text-align: center" class="fun" action="" method="POST">
      <p><input style="width: 300px;font-size: 25px;text-align: center" placeholder="User name" type="text" name="content"></p>
      <p><input style="width: 300px;font-size: 25px;text-align: center" placeholder="Messages" type="text" name="content"></p>
        <input style= "border-radius: 12px;background-color: white;
  color: black;
  border: 2px solid rgb(0,7,109);font-size: 16px;padding: 10px;
  width: 120px" type="submit" value="Submit">
      
    </form>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script type="text/javascript">
      var socket = io.connect('http://' + document.domain + ':' + location.port);
      socket.on( 'connect', function() {
        socket.emit( 'my event', {
          data: 'User Connected'
        } )
        var form = $( 'form' ).on( 'submit', function( e ) {
          e.preventDefault()
          let user_name = $( 'input.username' ).val()
          let user_input = $( 'input.message' ).val()
          socket.emit( 'my event', {
            user_name : user_name,
            message : user_input
          } )
          $( 'input.message' ).val( '' ).focus()
        } )
      } )
      socket.on( 'my response', function( msg ) {
        console.log( msg )
        if( typeof msg.user_name !== 'undefined' ) {
          $( 'h3' ).remove()
          $( 'div.message_holder' ).append( '<div><b style="color: #000">'+msg.user_name+'</b> '+msg.message+'</div>' )
        }
      })
    </script>
  </body>
  </html>
